{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container">
  <div class="prepend-4 span-16 append-4">
    <h3>Reset password</h3>
    <form method="post" action=".">
    {% csrf_token %}
    <table>
     <tr><td>{{form.email}}</td><td>&nbsp;&nbsp;</td><td NOWRAP><span class="tabletext">email address for password reset link</span></td></tr>
    </table>
    <div class="buttonpanel">
      <input type="submit" value="{% trans 'Submit' %}" />
    </div><!--buttonpanel-->
    </form>
  </div><!--span-8-->
</div><!--container-->
{% endblock %}
