{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container">
  <div class="prepend-4 span-16 append-4">
	<h3>Change password</h3>
	<p class="small">All fields are required.</p>
    <form method="post" action=".">
      {% csrf_token %}
      <table>
        {{ form.as_table }}
      </table>
      <div class="buttonpanel">
        <input type="submit" value="{% trans 'Submit' %}" />
	  </div><!--buttonpanel-->
    </form>
  </div><!--span-8-->
</div><!--container-->
{% endblock %}
