{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container">
  <div class="prepend-4 span-16 append-4">
{% if validlink %}

<form method="post" action=".">
	{% csrf_token %}
    <table>
 	    <tr><td>{{form.new_password1}}</td><td>&nbsp;&nbsp;</td><td NOWRAP><span class="tabletext">choose a new password</span></td></tr>
	    <tr><td>{{form.new_password2}}</td><td>&nbsp;&nbsp;</td><td NOWRAP><span class="tabletext">re-type your password</span></td></tr>
    </table>
    <div class="buttonpanel">
      <input type="submit" value="Reset" alt="reset" name="reset" />
    </div><!--buttonpanel-->
</form>

{% else %}

<p>{% trans "We are sorry the password reset link is not valid, please try again and if you are still unable to reset it please contact us." %}</p>
{% endif %}
  </div><!--span-8-->
</div><!--container-->
{% endblock %}
