{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml" xml:lang="en" lang="en">
<head>
   <title>We Share A </title>

   <!-- Framework CSS -->
   <link rel="stylesheet" href="/static/css/screen.css" type="text/css" media="screen, projection">
   <link rel="stylesheet" href="/static/css/print.css" type="text/css" media="print"> 
   <!--[if lt IE 8]>
    <link rel="stylesheet" href="/static/css/fbapp/ie.css" type="text/css" media="screen, projection">
   <![endif]-->
    
    <!-- Site Specific CSS -->
    <link rel="stylesheet" href="/static/css/base.css" type="text/css" media="screen, projection" />

</head>

<body>
<div id="notfooter">
  <div class="headerbar">
	  <div class="container">
			<a href="https://www.wesharea.com/"><img src="/static/images/logo/Wsa.png"></a>
	  </div><!--/container -->
	</div><!--/headerbar -->

  <div class="content">
	  <br /><br />
      <div class="span-20 prepend-2"><p>Sorry We Share A is temporarily not running from within Facebook. Please open <a href="https://www.wesharea.com/" target="_blank">We Share A in a new tab or window.</a> You will not need to login again and your facebook session will remain unaffected.</p>
      <p>We are working on getting it running in Facebook.</p> 
	  </div>
  </div><!--/content -->
  <div class="push"></div>
</div><!--/notfooter -->

<div class="footer">
  <div class="container">   	
		  <span>please read our plain english <a href="http://www.facebook.com/note.php?note_id=115846505156689" target="_blank">terms and conditions</a></span>
		  <span>and leave feedback on <a href="http://www.facebook.com/pages/We-Share-A/113174475423892?sk=wall" target="_blank">our wall</a></span>
		  <br><span>if you need help try the <a href="http://www.facebook.com/note.php?note_id=129516487123024" target="_blank">FAQ's</a></span>
		  <span>or write a question on <a href="http://www.facebook.com/pages/We-Share-A/113174475423892?sk=wall" target="_blank">our wall</a> and we will post a response</span>
  </div><!--/container-->
</div><!--/footerbar -->