{% extends "base.html" %}

{% block content %}

<div class="container">
  <div class="span-24">
	{% if messages %}{% comment %}TODO: move this out into custom tag{% endcomment %}
    <div class="messages">
	  {% for message in messages %}
	    <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
	  {% endfor %}
    </div><!--/messages -->
    {% endif %}
    <div class="span-24">
      <div class="addparticipants">
        <h3>Invite friends via email to join We Share A and this community</h3>
	    <p class="small">All fields are required.</p>
	    <form method="post" action="{% url invite_email group_id %}">
	      {% csrf_token %}
	      <table class="no-zebra">
            <tr><td>{{form.email}}</td><td>&nbsp;&nbsp;</td><td NOWRAP><span class="tabletext">(used to guarantee a unique username)</span></td><td NOWRAP>{{form.email.errors}}</td></tr>
	   	    <tr><td>{{form.first_name}}</td><td>&nbsp;&nbsp;</td><td NOWRAP><span class="tabletext">enter their first name</span></td><td NOWRAP>{{form.first_name.errors}}</td></tr>
		    <tr><td>{{form.last_name}}</td><td>&nbsp;&nbsp;</td><td NOWRAP><span class="tabletext">and their last name</span></td><td NOWRAP>{{form.last_name.errors}}</td></tr>
	      </table>
	      <div>
		    <br />
	        <p class="small">Friends you invite to join We Share A will receive an email asking them to click on a link to accept your invitiation.</p>
	        <p class="small">Once logged in they will be asked to create a password to activate their account.</p>
	      </div>
	      <div class="buttonpanel">
			<input type="hidden" value="{% url view_sharedexpense group_id %}" name="next" />
		    <a href="{% url view_sharedexpense group_id %}"><input type="button" name="cancel" value="Cancel" /></a>
	        <input type="submit" value="Invite Friend" alt="create friend" name="create friend" />
	      </div><!--buttonpanel-->
	    </form>
      <div style="clear:both;"></div>
      </div><!--/addparticipants -->
	</div><!--/span-24 -->
  </div><!--/span-24 -->
</div><!--/container-->
{% endblock content %}
